name: Build and Push Docker

on:
  push:
    branches: ["main"]

jobs:

  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ci-demo:latest .

      - name: Push Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/ci-demo:latest


  qa-approval:
    needs: docker
    runs-on: ubuntu-latest

    environment:
      name: QA

    steps:
      - name: Waiting for QA Approval
        run: echo "Waiting for QA team approval..."


  deploy:
    needs: qa-approval
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Step
        run: echo "Deploying application..."
